.sliderBar {
    padding: 20px;
    background-color: rgb(104, 104, 104);
    width: 17vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sliderBar a {
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.sliderBar a:hover {
    background-color: #20202070;
    color: black;
}

.sliderBar a.active {
    color: rgb(104, 104, 104);
    background-color: #fff;
}