
.sliderBar {
    padding: 20px;
    background-color: rgb(104, 104, 104);
    width: 200px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10; 
}

.sliderBar a {
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.sliderBar a:hover {
    background-color: #20202070;
    color: black;
}

.sliderBar a.active {
    color: rgb(104, 104, 104);
    background-color: #fff;
}


@media screen and (max-width: 768px) {
    .sliderBar {
        width: 100%;
        height: 10%;
        bottom: 0;
        top: auto;
        flex-direction: row;
        justify-content: center;
    }

    .sliderBar a {
        margin-right: 10px;
    }
}

@media screen and (max-width: 501px) {
    .sliderBar {
        height: 5%;
    }

    .sliderBar a {
        padding: 4px;
        font-size: 1rem;
    margin-bottom: 5px;
    }
}