<<<<<<< Updated upstream
.container {
=======
.container-country {
  border: 1px solid #ddd;
>>>>>>> Stashed changes
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}