.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container-country {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px 40px;
  border-radius: 20px;
}
.container-country:hover {
  background-color: orangered;
  cursor: pointer;
  color: #fff;
}
.container-country img {
  width: 100px;
}