.SearchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-bottom: 10px;
  }
  
  input[name="query"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #000000b2;
    border-radius: 4px;
  }
  
  div {
    margin-bottom: 5px;
  }
  .Button{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: linear-gradient(to right, #0a0a0a, #3366ff);
    color: #ffff
    
  }