.container-ListCountries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.ListCountries {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 11px;
  width: 72vw;
  padding: 20px;
  cursor: pointer;
}

@media screen and (max-width: 800px){
  .ListCountries{
    grid-template-columns: repeat(2, 1fr);
  }
}

.ListCountriesItem {
    margin: 10px;
    background-color: #ffffff34;
    border-radius: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 10px 20px 10px 5px #000;
}

.popup {
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}